body {
  background-image: url(https://cutewallpaper.org/21/thumbnail-background-hd/Good-Background-Picture-69+-images-.jpg);
  background-size: cover;
}
h4 {
  text-transform: capitalize;
}
hr {
  width: 80px;
  margin: 0px;
}
p {
  padding-right: 25px;
}
a {
  color: white;
}
.text {
  max-width: 40%;
  height: auto;
  margin: 50px;
  margin-top: 150px;
  color: white;
  padding: 25px;
}

.heading {
  font-size: 55px;
  width: 100%;
  height: auto;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
.social-media i {
  padding-right: 20px;
}
